//==============================================================================
// Layers
//==============================================================================

/// Named layers and corresponding z-index values
/// @access public
/// @group Layout
/// @type Map
/// @prop {Number} text [Arial, Helvetica, sans-serif] - Font stack for copy text
/// @prop {Number} code ['Lucida Console', 'Courier New', 'Courier', monospace] - Font stack for code sections
$layers: (
  page-header: 10,
  main-navigation: 15,
  cookie-info-banner: 20,
  ie-warning-shader: 30,
  ie-warning-message: 31
);

/// Return the z-index value of a named layer
/// @access public
/// @group Layout
/// @requires $layers
/// @param {String} $layer - Named layer from `$layers` map
/// @return {Number}
@function layer($layer) {
  @if (map-has-key($layers, $layer)) {
    @return #{map-get($layers, $layer)};
  } @else {
    @error "No value found for `#{$layer}`. "
         + "Please make sure it is defined in `$layers` map.";
  }
}
