/*☺
[Project name]
*/


/* =============================================================================
   TABLE OF CONTENTS
   =============================================================================

   1    COLOR SCHEME

   2    NORMALIZE
   2.1  HTML5 display definitions
   2.2  Base
   2.3  Links
   2.4  Typography
   2.5  Lists
   2.6  Embedded content
   2.7  Forms
   2.8  Tables
   
   3    ALERTS AND OVERLAYS
   3.1  Internet Explorer JavaScript warning
   3.2  Skiplinks

   4    PRIMARY STYLES
   4.1  Base
   4.2  Links
   4.3  Typography, lists, headlines
   4.4  Embedded content
   4.5  Form elements
   4.6  Layout elements

   5    NON-SEMANTIC HELPER CLASSES
   5.1  Hiding content
   5.2  Alignments
   5.3  Clearfix
   5.4  Misc little helpers

   6    MEDIA QUERIES
   6.1  (480px)  Small screen devices, held in landscape mode
   6.2  (600px)  Smaller tablets (like Amazon Kindle), held in portrait mode
   6.3  (768px)  Ten-inch tablets (like the iPad), held in portrait mode
   6.4  (1024px) Ten-inch tablets (like the iPad), held in landscape mode
   6.5  (1200px) Widescreen displays

   7    PRINT STYLES
   7.1  Hide print specific content from screen
   7.2  Print specific styles

*/




/* =============================================================================
   1    COLOR SCHEME
   ========================================================================== */

/*
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
*/




/* =============================================================================
   2    NORMALIZE
   ========================================================================== */


/* =============================================================================
   2.1  HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   2.2  Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.5384615384615384615384615384615; }
body, button, input, select, textarea { font-family: sans-serif; color: #333; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   2.3  Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* =============================================================================
   2.4  Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   2.5  Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   2.6  Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }


/* =============================================================================
   2.7  Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   2.8  Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }




/* =============================================================================
   3    ALERTS AND OVERLAYS
   ========================================================================== */


/* =============================================================================
   3.1  Internet Explorer JavaScript warning
   ========================================================================== */

#ie-js-warning-shader {
	background: #000;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.ie6 #ie-js-warning-shader {
	height: 10000px;
	position: absolute;
}

#ie-js-warning {
	border: 5px solid #ed7f00;
	display: block;
	height: 430px;
	left: 50%;
	margin-left: -410px;
	margin-top: -220px;
	position: fixed;
	top: 50%;
	width: 810px;
	z-index: 1001;
}

.ie6 #ie-js-warning {
	position: absolute;
}

html.ie-js-warning-page {
	overflow-y: hidden;
}

.ie-js-warning-page body {
	background: #ed952f url('../images/ie-js-warning-background.png') repeat-x top left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding: 20px;
}

.ie-js-warning-page p, .ie-js-warning-page ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
}

.ie-js-warning-page strong, .ie-js-warning-page b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.ie-js-warning-page li.first {
	margin-bottom: 20px;
}

.ie-js-warning-page a, .ie-js-warning-page a:link,
.ie-js-warning-page a:visited, .ie-js-warning-page a:hover {
	color: #fff;
	text-decoration: underline;
}

.ie-js-warning-page h1 {
	background: transparent;
	color: #ed7f00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: normal;
	height: auto;
	left: auto;
	letter-spacing: normal;
	line-height: 1;
	margin: 0 0 20px;
	padding: 0;
	position: relative;
	text-transform: none;
	top: auto;
	width: auto;
}

.ie-js-warning-page h2 {
	background: transparent;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	height: auto;
	left: auto;
	letter-spacing: normal;
	line-height: 28px;
	margin: 20px 0;
	padding: 0;
	position: relative;
	text-transform: none;
	top: auto;
	width: auto;
}

.ie-js-warning-page .white, .ie-js-warning-page ol {
	color: #fff;
}

.ie-js-warning-page .ie-logo {
	display: inline;
	float: right;
	margin: -15px 20px 0 20px;
}


/* =============================================================================
   3.2  Skiplinks
   ========================================================================== */

#skiplinks a {
	left: -99999px;
	position: absolute;
	top: -99999px;
}

#skiplinks a:focus, #skiplinks a:active {
	left: 0;
	position: static;
	top: 0;
}

#skiplinks {
	left: -99999px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

#skiplinks a:focus, #skiplinks a:active {
	background: #333;
	border-bottom: 1px #000 solid;
	color: #fff;
	left: 99999px;
	outline: 0 none;
	padding: 10px 0;
	position: absolute;
	text-decoration: none;
	text-align: center;
	width: 100%;
}




/* =============================================================================
   4    PRIMARY STYLES
   ========================================================================== */

/* These styles are for small screen devices, held in portrait mode. (320px)
   They will be altered to suit different screen resolutions (see below). */


/* =============================================================================
   4.1  Base
   ========================================================================== */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5384615384615384615384615384615; /* 20px / 13px */
}

/* Change the selection background color to fit with the used color scheme */
::-moz-selection { background: #fe57a1; color: #fff; }
::selection { background: #fe57a1; color: #fff; }


/* =============================================================================
   4.2  Links
   ========================================================================== */

a {
	color: #00e;
	text-decoration: none;
}

a:visited {
	color: #551a8b;
}

a:hover {
	color: #3c3cee;
}


/* =============================================================================
   4.3  Typography, lists, headlines
   ========================================================================== */

p, ul, ol {
	margin-bottom: 1.5384615384615384615384615384615em; /* 20px / 13px */
	margin-top: 1.5384615384615384615384615384615em; /* 20px / 13px */
}

ul li *, ol li * {
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 1.6923076923076923076923076923077em; /* 22px / 13px */
	line-height: 0.90909090909090909090909090909091; /* 20px / 22px */
	margin: 0.90909090909090909090909090909091em; /* 20px / 22px */
}

h2 {
	font-size: 1.5384615384615384615384615384615em; /* 20px / 13px */
	line-height: 1;
	margin-bottom: 1em;
	margin-top: 1em;
}

h3 {
	font-size: 1.3076923076923076923076923076923em; /* 17px / 13px */
	line-height: 1.1764705882352941176470588235294; /* 20px / 17px */
	margin-bottom: 1.1764705882352941176470588235294em; /* 20px / 17px */
	margin-top: 1.1764705882352941176470588235294em; /* 20px / 17px */
}

h4 {
	font-size: 1.1538461538461538461538461538462em; /* 15px / 13px */
	line-height: 1.3333333333333333333333333333333; /* 20px / 15px */
	margin-bottom: 1.3333333333333333333333333333333em; /* 20px / 15px */
	margin-top: 1.3333333333333333333333333333333em; /* 20px / 15px */
}


/* =============================================================================
   4.4  Embedded content
   ========================================================================== */

img, embed, object, video {	max-width: 100%; }


/* =============================================================================
   4.5  Form elements
   ========================================================================== */

input[type="text"],
input[type="password"],
input[type="search"],
textarea,
select {
	border: 1px solid #00e;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.23076923076923076923076923076923em; /* 3px / 13px */
}

select {
	padding: 0.15384615384615384615384615384615em; /* 2px / 13px */
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
	border: 1px solid #00e;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.23076923076923076923076923076923em 0.69230769230769230769230769230769em; /* 3px / 13px   and   9px / 13px */
	-webkit-border-radius: 0.38461538461538461538461538461538em; /* 5px / 13px */
	-moz-border-radius: 0.38461538461538461538461538461538em; /* 5px / 13px */
	border-radius: 0.38461538461538461538461538461538em; /* 5px / 13px */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	background-color: #00e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#77e), to(#00e)); 
	background-image: -webkit-linear-gradient(top, #77e, #00e); 
	background-image: -moz-linear-gradient(top, #77e, #00e); 
	background-image: -ms-linear-gradient(top, #77e, #00e); 
	background-image: -o-linear-gradient(top, #77e, #00e); 
	background-image: linear-gradient(top, #77e, #00e);
	-pie-background: linear-gradient(#77e, #00e);
	behavior: url('js/libs/pie.htc');
}

input:focus,
textarea:focus,
select:focus {
	-webkit-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	-moz-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	outline: 0;
	behavior: url('js/libs/pie.htc');
}

input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	border-color: #fff;
}

input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	border-color: #fff;
	-webkit-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	-moz-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	background-color: #77e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00e), to(#77e)); 
	background-image: -webkit-linear-gradient(top, #00e, #77e); 
	background-image: -moz-linear-gradient(top, #00e, #77e); 
	background-image: -ms-linear-gradient(top, #00e, #77e); 
	background-image: -o-linear-gradient(top, #00e, #77e); 
	background-image: linear-gradient(top, #00e, #77e);
	-pie-background: linear-gradient(#00e, #77e);
	behavior: url('js/libs/pie.htc');
}


/* =============================================================================
   4.6  Layout elements
   ========================================================================== */

#root {
	margin: 0 auto;	
	max-width: 570px;
	position: relative;
	width: 100%;
}
   
#page-header {
	background: #febe7e;
	padding-bottom: 0 !important;
}

#main-navigation {
	background: #8698bf;
	margin: 0;
	padding-bottom: 0 !important;
}

#main {
	background: #c1eaff;
	clear: both;
	padding: 0 1.5384615384615384615384615384615em; /* 20px / 13px */
}

#sidebar {
	background: #ddffa6;
	padding: 0 1.5384615384615384615384615384615em; /* 20px / 13px */
}

#page-footer {
	background: #ff8acd;
	clear: both;	
	padding: 0 1.5384615384615384615384615384615em; /* 20px / 13px */
}




/* =============================================================================
   5    NON-SEMANTIC HELPER CLASSES
   ========================================================================== */


/* =============================================================================
   5.1  Hiding content
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }


/* =============================================================================
   5.2  Alignments
   ========================================================================== */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.float-left { float: left; margin: 0 20px 20px 0; }
.float-right { float: right; margin: 0 0 20px 20px; }


/* =============================================================================
   5.3  Clearfix
   ========================================================================== */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* =============================================================================
   5.4  Misc little helpers
   ========================================================================== */

/* typically used with a <span> element */
.nobr { white-space: nowrap; }




/* =============================================================================
   6    MEDIA QUERIES
   ========================================================================== */


/* =============================================================================
   6.1  (480px) Small screen devices, held in landscape mode
   ========================================================================== */

@media only screen and (min-width: 480px) {

	/* ==== 6.1.1  Base ===================================================== */

	/* Style definitions go here */
	
	/* ==== 6.1.2  Links ==================================================== */

	/* Style definitions go here */

	/* ==== 6.1.3  Typography, lists, headlines ============================= */

	/* Style definitions go here */
	
	/* ==== 6.1.4  Layout elements ========================================== */

	/* Style definitions go here */
	
}


/* =============================================================================
   6.2  (600px) Smaller tablets (like Amazon Kindle), held in portrait mode
   ========================================================================== */

@media only screen and (min-width: 600px) {

	/* ==== 6.2.1  Base ===================================================== */

	/* Style definitions go here */
	
	/* ==== 6.2.2  Links ==================================================== */

	/* Style definitions go here */

	/* ==== 6.2.3  Typography, lists, headlines ============================= */

	/* Style definitions go here */
	
	/* ==== 6.2.4  Layout elements ========================================== */

	/* Style definitions go here */
	
}


/* =============================================================================
   6.3  (768px) Ten-inch tablets (like the iPad), held in portrait mode
   ========================================================================== */

@media only screen and (min-width: 768px) {

	/* ==== 6.3.1  Base ===================================================== */

	/* Style definitions go here */
	
	/* ==== 6.3.2  Links ==================================================== */

	/* Style definitions go here */

	/* ==== 6.3.3  Typography, lists, headlines ============================= */

	/* Style definitions go here */
	
	/* ==== 6.3.4  Layout elements ========================================== */

	/* Style definitions go here */

}


/* =============================================================================
   6.4  (1024px) Ten-inch tablets (like the iPad), held in landscape mode
   ========================================================================== */

@media only screen and (min-width: 980px) {

	/* ==== 6.4.1  Base ===================================================== */

	/* Style definitions go here */
	
	/* ==== 6.4.2  Links ==================================================== */

	/* Style definitions go here */

	/* ==== 6.4.3  Typography, lists, headlines ============================= */

	/* Style definitions go here */
	
	/* ==== 6.4.4  Layout elements ========================================== */

	#root {
		max-width: 73.846153846153846153846153846154em; /* 960px / 13px */
		width: 73.846153846153846153846153846154em; /* 960px / 13px */
	}
	
	#main {
		display: inline;
		float: left;
		width: 40.769230769230769230769230769231em; /* 530px / 13px */
	}
	
	#sidebar {
		display: inline;
		float: right;	
		width: 22.307692307692307692307692307692em; /* 290px / 13px */
	}

}


/* =============================================================================
   6.5  (1200px) Widescreen displays
   ========================================================================== */

@media only screen and (min-width: 1200px) {

	/* ==== 6.5.1  Base ===================================================== */

	body { font-size: 16px;	}
	
	/* ==== 6.5.2  Links ==================================================== */

	/* Style definitions go here */

	/* ==== 6.5.3  Typography, lists, headlines ============================= */

	/* Style definitions go here */
	
	/* ==== 6.5.4  Layout elements ========================================== */

	/* Style definitions go here */

}




/* =============================================================================
   7    PRINT STYLES
   ========================================================================== */


/* =============================================================================
   7.1  Hide print specific content from screen
   ========================================================================== */

@media screen {

	.print-only { display: none; visibility: hidden; }

}


/* =============================================================================
   7.2  Print specific styles
   ========================================================================== */
   
@media print {

	/* ==== 7.2.1  Base ===================================================== */

	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	@page { margin: 0.5cm; }
	body { font-size: 12pt; }

	/* ==== 7.2.2  Links ==================================================== */

	a, a:visited { text-decoration: underline; }

	.print-links-footer {
		border: 1px solid #000;
		padding: 0 1.5384615384615384615384615384615em;
		page-break-inside: avoid;
	}

	/* ==== 7.2.3  Typography, lists, headlines ============================= */

	abbr[title]:after { content: " (" attr(title) ")"; }
	p, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; }
	h2, h3, h4, h5, h6 { page-break-after: avoid; }
	h1 { margin-left: 0; margin-right: 0; }

	.print-links-footer h3 { /* equals normal h4 style */
		font-size: 1.1538461538461538461538461538462em;
		line-height: 1.3333333333333333333333333333333;
		margin-bottom: 1.3333333333333333333333333333333em;
		margin-top: 1.3333333333333333333333333333333em;
	}

	/* ==== 7.2.4  Tables =================================================== */

	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }

	/* ==== 7.2.5  Layout elements ========================================== */

	#main-navigation, #sidebar { display: none; }
	#main, #page-footer { padding: 0; }

}
