@charset 'utf-8';

/*☺
[Project name]
*/

/*
Color scheme

color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
*/




/* RESET AND BASE STYLES - start ---------------------------------- */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 element introduction - start */

command, datalist, source {
	display: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/* HTML5 element introduction - end */


/* Lists - start */

ul, ol {
	margin-left: 2.1em;
}

ul {
	list-style: disc outside;
}

ol {
	list-style: decimal outside;
}

nav ul {
	list-style: none;
}

/* Lists - end */


/* Anchor elements - start */

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	vertical-align: baseline;
}

a:hover, a:active {
	outline: none;
}

a img {
	border: none;
}

/* Anchor elements - end */


/* Tables - start */

table {
	border-collapse: collapse;
	border-spacing: 0;
	/* tables still need cellspacing="0" in the markup */
}

td, td img {
	vertical-align: top;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

/* Tables - end */


/* Remove automatic quotes - start */

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* Remove automatic quotes - end */


/* Text highlighting - start */

ins {
	text-decoration: none;
	/* remember to highlight inserts somehow! */
}

del {
	text-decoration: line-through;
}

mark {
	background-color: #ff9;
	color: #000;
}

/* Text highlighting - end */


/* Text with annotations - start */

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor:help;
}

a abbr, a dfn {
	cursor: pointer !important;
}

/* Text with annotations - end */


/* Form elemnts - start */

input, select {
	vertical-align: middle;
}

textarea {
	overflow: auto;  /* remove unneccessary scrollbar in IE */
}

.ie6 legend, .ie7 legend {
	margin-left: -7px;
}

input[type="radio"] {
	vertical-align: text-bottom;  /* align radios with their label */
}

input[type="checkbox"] {
	vertical-align: bottom;  /* align checkboxes with their label */
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;  /* align checkboxes with their label */
}

.ie6 input {
	vertical-align: text-bottom;  /* align text inputs with their label */
}

label, input[type="button"], input[type="submit"],
input[type="image"], button {
	cursor: pointer;  /* hand cursor on clickable input elements */
}

button, input, select, textarea {
	margin: 0;  /* otherwise webkit browsers add an extra 2px margin */
}

input:invalid, textarea:invalid {
	background-color: #ff8181;
}

button {
	width: auto;
	overflow: visible;
	/* makes buttons play nice in IE */
}

/* Form elemnts - end */


/* Typography - start */

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

select, input, textarea, button {
	font: 99% sans-serif;  /* hack for older Safari versions */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

address {
	font-style: normal;
}

strong,b {
	font-weight: bold;
}

em,i {
	font-style: italic;
}

sup {
	bottom: 0.3em;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.2em;
	position: relative;
	vertical-align: baseline;
}

small, sup, sub {
	font-size: 75% !important;
}

/* Typography - end */


/* Misc - start */

html {
	overflow-y: scroll;  /* always force a scrollbar in non-IE */
}

body, select, input, textarea {
  color: #333;  /* #333 looks better than black */
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE */
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/* Misc - end */


/* RESET AND BASE STYLES - end ------------------------------------ */




/* NON-SEMANTIC HELPER CLASSES - start ---------------------------- */


/* Alignments - start */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.float-left {
	float: left;
	margin: 0 20px 20px 0;
}

.float-right {
	float: right;
	margin: 0 0 20px 20px;
}

/* Alignments - end */


/* Misc little helpers - start */

.nobr {
	white-space: nowrap;
	/* typically used with a <span> element */
}

.ir {
	/* for image replacement */
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.visuallyHidden {
	/* hide only visually, but have it available for screenreaders */
    border: 0 !important;
    clip: rect(0 0 0 0);
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.invisible {
	/* hide visually and from screenreaders, but maintain layout */
	visibility: hidden;
}

.hidden {
	/* hide completely for both screenreaders and browsers */
	display: none;
	visibility: hidden;
}

/* Misc little helpers - end */


/* Clearfix - start */

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	display: block;
}

.ie6 .clearfix {
	display: inline-block;  /* Makes clearfix actually work in IE */
}

/* Clearfix - end */


/* NON-SEMANTIC HELPER CLASSES - end ------------------------------ */




/* DROPDOWN NAVIGATION - start ------------------------------------ */


/*
button-background-color light - first level: #ffff80
button-background-color dark - first level: #ff0
button-active-color light - first level: #77e
button-active-color dark - first level: #00e
backround of second and third level: #fff
button-hover-background of second and third level: #f82

right border color of buttons - first level: #d9d900
outer border color of buttons - second and third level: #222
inner border color of buttons - second and third level: #bbb

font-color of links: #00e

font-color of active buttons - first level: #eee
font-color of hovered buttons - first level: #f50
font-color of hovered buttons - second and third level: #fea

font-size - first level: 15px
font-size - second and third level: 13px

line-height - first level: 1.54em
line-height - second and third level: 1.54em

width of complete navigation: 960px
width of buttons (outside) - first level: 191px (+ 1px border right)
width of buttons (outside) - first level (for IE 5.5): 192px (– 1px border right)
width of buttons (inside, without padding) - first level: 151px
width of buttons (inside) - first level (for IE 5.5): 191px
width of last button (inside, without padding) - first level: 152px
width of last button (inside) - first level (for IE 5.5): 192px
width of buttons (outside) - second level: 200px (+ 1px border left and right)
width of buttons (outside) - first level (for IE 5.5): 202px (– 2px border left and right)
width of buttons (inside, without padding) - second level: 180px

padding top and bottom - first level: 6px
padding left and right - first level: 20px

padding top and bottom - second and third level: 3px
padding left and right - second and third level: 10px
*/


/* Basic dropdown navigation styles - start */

#main-navigation ul {
	background: #ffff80 url('../images/navigation-background.png') repeat-x bottom;
	display: inline-block;
	line-height: 1em;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	width: 960px;
}

#main-navigation ul a {
	color: #00e;
	margin: 0;
	padding: 0;
}

#main-navigation ul a:hover {
	color: #f50 !important;
	text-decoration: none;
}

#main-navigation ul a:link,
#main-navigation ul a:visited {
	color: #00e;
}

#main-navigation ul li {
	margin: 0;
	padding: 0;
}

#main-navigation ul li * {
	line-height: 20px;
}

#main-navigation ul ul {
	line-height: 1em;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Basic dropdown navigation styles - end */


/* Navigation level 1 - start */

#main-navigation ul li {
	border-right: 1px solid #d9d900;
	float: left;
	font-size: 15px;
	width: 191px;
}

#main-navigation ul li.last {
	border-right: 0;
}

#main-navigation ul li a {
	display: block;
	padding: 6px 20px;
	text-align: center;
	width: 151px;
}

#main-navigation ul li.last a {
	width: 152px;
}

#main-navigation ul li.active {
	background: #77e url('../images/navigation-active.png') repeat-x bottom;
}

#main-navigation ul a:hover,
#main-navigation ul li:hover,
#main-navigation ul li.sfhover {
	background: #ff0 url('../images/navigation-hover.png') repeat-x bottom;
}

.ie7 #main-navigation ul li:hover,
.ie7 #main-navigation ul li.sfhover,
.ie6 #main-navigation ul li:hover,
.ie6 #main-navigation ul li.sfhover {
	position: static;
}

#main-navigation ul li.active a,
#main-navigation ul li.active a:link,
#main-navigation ul li.active a:visited {
	color: #eee;
}

#main-navigation ul li:hover a,
#main-navigation ul li.sfhover a,
#main-navigation ul li:hover a:link,
#main-navigation ul li.sfhover a:link,
#main-navigation ul li:hover a:visited,
#main-navigation ul li.sfhover a:visited {
	color: #f50;
}

/* Navigation level 1 - end */


/* Navigation level 2 - start */

#main-navigation ul * li {
	font-size: 13px;
}

#main-navigation ul * li * {
	line-height: 20px;
}

#main-navigation ul li ul {
	background: #fff;
	border: 1px solid #222;
	left: -999em;
	position: absolute;
	width: 200px;
	z-index: 999;
}

#main-navigation ul li ul li {
	border-bottom: 1px solid #bbb;
	border-right: none;
	width: 200px;
}

#main-navigation ul li ul li a,
#main-navigation ul li ul li.last a,
#main-navigation ul li.last ul li a {
	color: #00e !important;
	padding: 3px 10px;
	text-align: left;
	width: 180px;
}

#main-navigation ul li ul li:hover,
#main-navigation ul li ul li.sfhover,
#main-navigation ul li ul li:hover a,
#main-navigation ul li ul li.sfhover a,
#main-navigation ul li.active ul li:hover a,
#main-navigation ul li.active ul li.sfhover a,
#main-navigation ul li ul li a:hover,
#main-navigation ul li ul li.active a:hover {
	background: #f82;
	color: #fea !important;
}

#main-navigation ul li ul li.active a {
	background: #fff;
}

#main-navigation ul li ul li.last {
	border-bottom: 0;
	width: 200px;
}

#main-navigation ul li ul li.parent,
#main-navigation ul li ul li.parent a {
	background: url('../images/navigation-parent-arrow.png') no-repeat center right;
}

#main-navigation ul li ul li.parent:hover,
#main-navigation ul li ul li.sfhover_parent,
#main-navigation ul li ul li.parent:hover a,
#main-navigation ul li ul li.sfhover_parent a,
#main-navigation ul li.active ul li.parent:hover a,
#main-navigation ul li.active ul li.sfhover_parent a,
#main-navigation ul li ul li.parent a:hover {
	background: #f82 url('../images/navigation-parent-arrow.png') no-repeat center right;
}

#main-navigation ul li:hover ul,
#main-navigation ul li.sfhover ul {
	left: auto;
}

/* Navigation level 2 - end */


/* Navigation level 3 - start */

#main-navigation ul li ul li:hover ul li a,
#main-navigation ul li ul li.sfhover ul li a,
#main-navigation ul li.active ul li:hover ul li a,
#main-navigation ul li.active ul li.sfhover ul li a,
#main-navigation ul li ul li.parent:hover ul li a,
#main-navigation ul li ul li.sfhover_parent ul li a,
#main-navigation ul li.active ul li.parent:hover ul li a,
#main-navigation ul li.active ul li.sfhover_parent ul li a {
	background: #fff;
	color: #00e !important;
}

#main-navigation ul li ul li:hover ul li a:hover,
#main-navigation ul li ul li.sfhover ul li a:hover,
#main-navigation ul li.active ul li:hover ul li a:hover,
#main-navigation ul li.active ul li.sfhover ul li a:hover {
	background: #f82;
	color: #fea !important;
}

#main-navigation ul li:hover ul li ul,
#main-navigation ul li.sfhover ul li ul {
	left: -999em;
}

#main-navigation ul li ul li:hover ul,
#main-navigation ul li ul li.sfhover ul {
	left: auto;
}

#main-navigation ul li ul li ul {
	margin: -27px 0 0 200px;
}

/* Navigation level 3 - end */


/* DROPDOWN NAVIGATION - end -------------------------------------- */




/* PRIMARY STYLES - start ----------------------------------------- */


/* Globals and typography - start */

body {
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

a, a:link {
	color: #00e;
	text-decoration: none;
}

a:visited {
	color: #551a8b;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p, ul, ol {
	margin-bottom: 20px;
	margin-top: 20px;
}

ul li *, ol li * {
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 22px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

h2 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

h3 {
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

h4 {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Globals and typography - end */


/* Layout elements - start */

#root {
	margin: 0 auto;	
	position: relative;
	width: 960px;
}

#page-header {
	background: #febe7e;
	clear: both;
	overflow: hidden;
	padding-bottom: 0 !important;
	width: 960px;
}

#main-navigation {
	clear: both;	
	margin: 0;
	padding-bottom: 0 !important;
}

#main {
	background: #c1eaff;
	clear: both;
	display: inline;
	float: left;
	overflow: hidden;
	padding:0 20px;
	width: 530px;
}

#sidebar {
	background: #ddffa6;
	display: inline;
	float: right;	
	overflow: hidden;
	padding:0 20px;
	width: 290px;
}

#page-footer {
	background: #ff8acd;
	clear: both;	
	overflow: hidden;
	padding:0 20px;
	width: 920px;
}

.ie6 #page-header:before, .ie6 #page-header:after,
.ie6 #main:before, .ie6 #main:after,
.ie6 #sidebar:before, .ie6 #sidebar:after,
.ie6 #page-footer:before, .ie6 #page-footer:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie6 #page-header:after, .ie6 #main:after,
.ie6 #sidebar:after, .ie6 #page-footer:after {
	clear: both;
}

/* Layout elements - end */


/* Internet Explorer JavaScript warning - start */

#ie-js-warning-shader {
	background: #000;
	bottom: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.ie6 #ie-js-warning-shader {
	position: absolute;
	height: 10000px;
}

#ie-js-warning {
	border: 5px solid #ed7f00;
	display: block;
	height: 430px;
	left: 50%;
	margin-left: -410px;
	margin-top: -220px;
	position: fixed;
	top: 50%;
	width: 810px;
	z-index: 1001;
}

.ie6 #ie-js-warning {
	position: absolute;
}

html.ie-js-warning-page {
	overflow-y: hidden;
}

.ie-js-warning-page body {
	background: #ed952f url('../images/ie-js-warning-background.png') repeat-x top left;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding: 20px;
}

.ie-js-warning-page p, .ie-js-warning-page ol {
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
}

.ie-js-warning-page strong, .ie-js-warning-page b {
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

.ie-js-warning-page li.first {
	margin-bottom: 20px;
}

.ie-js-warning-page a, .ie-js-warning-page a:link,
.ie-js-warning-page a:visited, .ie-js-warning-page a:hover {
	color: #fff;
	text-decoration: underline;
}

.ie-js-warning-page h1 {
	background: transparent;
	color: #ed7f00;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
	font-size: 40px;
	font-weight: normal;
	height: auto;
	left: auto;
	line-height: 1;
	margin: 0 0 20px;
	padding: 0;
	position: relative;
	text-transform: none;
	top: auto;
	width: auto;
	letter-spacing: normal;
}

.ie-js-warning-page h2 {
	background: transparent;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: bold;
	height: auto;
	left: auto;
	line-height: 28px;
	margin: 20px 0;
	padding: 0;
	position: relative;
	text-transform: none;
	top: auto;
	width: auto;
	letter-spacing: normal;
}

.ie-js-warning-page .white, .ie-js-warning-page ol {
	color: #fff;
}

.ie-js-warning-page .ie-logo {
	float: right;
	display: inline;
	margin: -15px 20px 0 20px;
}

/* Internet Explorer JavaScript warning - end */


/* Skiplinks - start */

#skiplinks a {
	left: -99999px;
	position: absolute;
	top: -99999px;
}

#skiplinks a:focus, #skiplinks a:active {
	left: 0;
	position: static;
	top: 0;
}

#skiplinks {
	left: -99999px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

#skiplinks a:focus, #skiplinks a:active {
	background: #333;
	border-bottom: 1px #000 solid;
	color: #fff;
	left: 99999px;
	outline: 0 none;
	padding: 10px 0;
	position: absolute;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

/* Skiplinks - end */


/* PRIMARY STYLES - end ------------------------------------------- */




/* SCREEN STYLES - start ------------------------------------------ */
@media screen {


.print-only {
	display: none;
	visibility: hidden;
}


}
/* SCREEN STYLES - end -------------------------------------------- */




/* PRINT STYLES - start ------------------------------------------- */
@media print {


* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
}

/* Globals and typography - start */

body {
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12pt;
	line-height: 18pt;
}

a, a:link, a:visited {
	text-decoration: underline;
}

p, ul, ol {
	margin-bottom: 18pt;
	margin-top: 18pt;
}

p, h1, h2, h3, h4, h5, h6 {
	orphans: 3;
	widows: 3;
}

h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
}

h1 {
	font-size: 20pt;
	line-height: 18pt;
	margin-bottom: 18pt;
	margin-top: 18pt;
}

h2 {
	font-size: 18pt;
	line-height: 18pt;
	margin-bottom: 18pt;
	margin-top: 18pt;
}

h3 {
	font-size: 16pt;
	line-height: 18pt;
	margin-bottom: 18pt;
	margin-top: 18pt;
}

h4, .print-links-footer h3 {
	font-size: 14pt;
	line-height: 18pt;
	margin-bottom: 18pt;
	margin-top: 18pt;
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

/* Globals and typography - end */


/* Tables - start */

thead {
	display: table-header-group;
}

tr, img {
	page-break-inside: avoid;
}

/* Tables - start */


/* Layout elements - start */

#root {
	float: none !important;
	margin: 0;	
	width: auto;
}

#page-header {
	float: none !important;
}

#main-navigation {
	display: none;
	visibility: hidden;
}

#main {
	float: none !important;
	width: auto;
}

#sidebar {
	display: none;
	visibility: hidden;
}

#page-footer {
	float: none !important;
	width: auto;
}

/* Layout elements - end */


/* print links footer - start */

.print-links-footer {
	border: 0.5pt solid #000;
	padding: 0 20pt;
}

/* print links footer - start */


}
/* PRINT STYLES - end --------------------------------------------- */