// -----------------------------------------------------------------------------
// Base styles
// -----------------------------------------------------------------------------





html {
    font-size: $mvl-base-font-size-screen;
    line-height: ($mvl-base-line-height / $mvl-base-font-size-screen);
    overflow-y: scroll;
    box-sizing: border-box;

    @media print {
        font-size: $mvl-base-font-size-print;
    }
}


/* Allow components to change to other box-sizing models if necessary */
*,
*::before,
*::after {
    box-sizing: inherit;
}


html,
button,
input,
select,
textarea {
    color: $mvl-color-text-default;
}


body {
    font-family: $mvl-text-font-stack;
}


/* Change the selection background color to fit with the used color scheme */
::selection {
    color: $mvl-color-white;
    background: $mvl-color-brand-1-lighter;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    margin: mvl-px-to-rem($mvl-base-line-height) 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $mvl-color-brand-2-lighter;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

embed,
img,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
}
