//==============================================================================
// Base styles
//==============================================================================





html {
    font-size: $mvl-base-font-size--screen;
    line-height: ($mvl-base-line-height / $mvl-base-font-size--screen);
    overflow-y: scroll;
    box-sizing: border-box;

    @media print {
        font-size: $mvl-base-font-size--print;
    }
}


*,
*::before,
*::after {
    box-sizing: inherit; // Allow components to change to other box-sizing models if necessary
}


html,
button,
input,
select,
textarea {
    color: $mvl-color__default-text;
}


body {
    font-family: $mvl-font-stack--text;
    background-color: $mvl-color__white;
}


// Change the selection background color to fit with the used color scheme
::selection {
    color: $mvl-color__white;
    background: $mvl-color__brand-1--lighter;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    margin: mvl-px-to-rem($mvl-base-line-height) 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $mvl-color__brand-2--lighter;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

embed,
img,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
}

svg {
    fill: currentColor;
}
