// -----------------------------------------------------------------------------
// Form elements
// -----------------------------------------------------------------------------





input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    font-family: $mvl-text-font-stack;
    color: $mvl-color-text-default;
    border: 1px solid $mvl-color-brand-2-darker;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    padding: mvl-px-to-rem(3px);
}

textarea {
    resize: vertical;
}

select {
    padding: mvl-px-to-rem(2px);
}


.placeholder {
    color: $mvl-color-brand-2-darker;
}

::-webkit-input-placeholder {
    color: $mvl-color-brand-2-darker;
}

:-moz-placeholder {
    color: $mvl-color-brand-2-darker;
}

::-moz-placeholder {
    color: $mvl-color-brand-2-darker;
}

:-ms-input-placeholder {
    color: $mvl-color-brand-2-darker;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1875rem 0.5625rem; /* 3px / 16px   and   9px / 16px */
    color: $mvl-color-white;
    border: 1px solid $mvl-color-brand-2-darker;
    background-color: $mvl-color-brand-2-darker;
    background-image: linear-gradient(to bottom, $mvl-color-brand-2, $mvl-color-brand-2-darker);
    background-clip: padding-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 0;
    box-shadow: 1px 1px 3px $mvl-color-brand-1-lighter, -1px 1px 3px $mvl-color-brand-1-lighter, -1px -1px 3px $mvl-color-brand-1-lighter, 1px -1px 3px $mvl-color-brand-1-lighter;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background-color: $mvl-color-brand-2;
    background-image: linear-gradient(to bottom, $mvl-color-brand-2-darker, $mvl-color-brand-2);
    box-shadow: 1px 1px 3px $mvl-color-brand-1-lighter, -1px 1px 3px $mvl-color-brand-1-lighter, -1px -1px 3px $mvl-color-brand-1-lighter, 1px -1px 3px $mvl-color-brand-1-lighter;
}


fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}


input:invalid,
textarea:invalid {
    background-color: $mvl-color-validation-error;
}
