{
  "name": "Website-Template-Starting-Point",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "styles/scss/utils/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/utils/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/utils/_mixins.css\"}"
    },
    {
      "path": "styles/scss/layout/_sidebar.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_sidebar.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_sidebar.css\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/main.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"js/main.min.js\"}"
    },
    {
      "path": "js/plugins.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/plugins.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"js/plugins.min.js\"}"
    },
    {
      "path": "js/vendor/lazysizes-plus-plugins.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/lazysizes-plus-plugins.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/lazysizes-plus-plugins.min.min.js\"}"
    },
    {
      "path": "js/vendor/respimage.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/respimage.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/respimage.min.min.js\"}"
    },
    {
      "path": "styles/scss/main.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/main.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"compiler-minify-css\":{\"enabled\":true},\"customOutput\":\"styles/css/main.css\"}"
    },
    {
      "path": "styles/scss/vendor/_normalize.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/vendor/_normalize.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/vendor/_normalize.css\"}"
    },
    {
      "path": "styles/scss/vendor/normalize/_import-now.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/vendor/normalize/_import-now.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/vendor/normalize/_import-now.css\"}"
    },
    {
      "path": "styles/scss/vendor/normalize/_normalize-mixin.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/vendor/normalize/_normalize-mixin.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/vendor/normalize/_normalize-mixin.css\"}"
    },
    {
      "path": "styles/scss/vendor/normalize/_variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/vendor/normalize/_variables.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/vendor/normalize/_variables.css\"}"
    },
    {
      "path": "styles/scss/vendor/normalize/_vertical-rhythm.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/vendor/normalize/_vertical-rhythm.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/vendor/normalize/_vertical-rhythm.css\"}"
    },
    {
      "path": "styles/scss/vendor/_support-for.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/vendor/_support-for.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/vendor/_support-for.css\"}"
    },
    {
      "path": "styles/css/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"styles/css/main.css\"},\"autoCompile\":false,\"sourceMap\":true,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"customOutput\":\"styles/css/main-dist.css\"}"
    },
    {
      "path": "styles/scss/utils/_functions.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/utils/_functions.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/utils/_functions.css\"}"
    },
    {
      "path": "styles/scss/base/_apply-normalize.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/base/_apply-normalize.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/base/_apply-normalize.css\"}"
    },
    {
      "path": "styles/scss/base/_fonts.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/base/_fonts.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/base/_fonts.css\"}"
    },
    {
      "path": "styles/scss/components/_overlays-cookie-info-banner.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/components/_overlays-cookie-info-banner.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/components/_overlays-cookie-info-banner.css\"}"
    },
    {
      "path": "styles/scss/components/_overlays-skiplinks.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/components/_overlays-skiplinks.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/components/_overlays-skiplinks.css\"}"
    },
    {
      "path": "styles/scss/utils/_variables-colors.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/utils/_variables-colors.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/utils/_variables-colors.css\"}"
    },
    {
      "path": "styles/scss/utils/_variables-vl-color-scheme.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/utils/_variables-vl-color-scheme.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/utils/_variables-vl-color-scheme.css\"}"
    },
    {
      "path": "styles/scss/components/_overlays-ie-warnings.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/components/_overlays-ie-warnings.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/components/_overlays-ie-warnings.css\"}"
    },
    {
      "path": "styles/scss/base/_base.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/base/_base.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/base/_base.css\"}"
    },
    {
      "path": "styles/scss/base/_typography.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/base/_typography.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/base/_typography.css\"}"
    },
    {
      "path": "styles/scss/base/_form-elements.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/base/_form-elements.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/base/_form-elements.css\"}"
    },
    {
      "path": "styles/scss/layout/_navigation.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_navigation.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_navigation.css\"}"
    },
    {
      "path": "styles/scss/layout/_layout-general.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_layout-general.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_layout-general.css\"}"
    },
    {
      "path": "styles/scss/utils/_variables-general.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/utils/_variables-general.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/utils/_variables-general.css\"}"
    },
    {
      "path": "styles/scss/layout/_main-content.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_main-content.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_main-content.css\"}"
    },
    {
      "path": "styles/scss/layout/_header.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_header.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_header.css\"}"
    },
    {
      "path": "styles/scss/layout/_footer.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_footer.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_footer.css\"}"
    },
    {
      "path": "styles/scss/layout/_print.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"styles/scss/layout/_print.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"styles/css/layout/_print.css\"}"
    },
    {
      "path": "images/1120x600.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/1120x600.png\",\"size\":5178,\"initialSize\":5518,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/1680x900.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/1680x900.png\",\"size\":10030,\"initialSize\":11241,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/560x300.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/560x300.png\",\"size\":2465,\"initialSize\":2541,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/840x450.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/840x450.png\",\"size\":4009,\"initialSize\":4285,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/288x154.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/288x154.png\",\"size\":1108,\"initialSize\":1154,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/576x308.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/576x308.png\",\"size\":2864,\"initialSize\":2993,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ie-warning/ie-logo-70x70.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ie-warning/ie-logo-70x70.png\",\"size\":3275,\"initialSize\":3275,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ie-warning/ie-warning-background.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ie-warning/ie-warning-background.png\",\"size\":375,\"initialSize\":375,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "js/plugins.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/plugins.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"js/plugins.min.min.js\"}"
    },
    {
      "path": "js/main.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/main.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"js/main.min.min.js\"}"
    },
    {
      "path": "favicon-16x16.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon-16x16.png\",\"size\":662,\"initialSize\":662,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "favicon-32x32.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon-32x32.png\",\"size\":1015,\"initialSize\":1015,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-144x144.png\",\"size\":2646,\"initialSize\":2646,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-150x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-150x150.png\",\"size\":2767,\"initialSize\":2767,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-310x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-310x150.png\",\"size\":3120,\"initialSize\":3120,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-310x310.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-310x310.png\",\"size\":5771,\"initialSize\":5771,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-70x70.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-70x70.png\",\"size\":2131,\"initialSize\":2131,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-192x192.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-192x192.png\",\"size\":5766,\"initialSize\":5766,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-512x512.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-512x512.png\",\"size\":15743,\"initialSize\":15743,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon.png\",\"size\":3237,\"initialSize\":3237,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "js/vendor/jquery-3.1.1.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/jquery-3.1.1.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"js/vendor/jquery-3.1.1.min.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/css/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"styles/sassdoc/assets/css/main.css\"},\"autoCompile\":false,\"sourceMap\":true,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"customOutput\":\"styles/sassdoc/assets/css/main-dist.css\"}"
    },
    {
      "path": "styles/sassdoc/assets/js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/main.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/main.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/js/sidebar.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/sidebar.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/sidebar.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/js/search.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/search.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/search.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/js/main.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/main.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/main.min.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/images/favicon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"styles/sassdoc/assets/images/favicon.png\",\"size\":17676,\"initialSize\":17676,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "styles/sassdoc/assets/js/vendor/fuse.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/vendor/fuse.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/vendor/fuse.min.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/js/vendor/jquery.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/vendor/jquery.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/vendor/jquery.min.min.js\"}"
    },
    {
      "path": "styles/sassdoc/assets/js/vendor/prism.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"styles/sassdoc/assets/js/vendor/prism.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"styles/sassdoc/assets/js/vendor/prism.min.min.js\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "styles/scss/main.scss",
      "imports": [
        "styles/scss/utils/_variables-vl-color-scheme.scss",
        "styles/scss/utils/_variables-colors.scss",
        "styles/scss/utils/_variables-general.scss",
        "styles/scss/utils/_functions.scss",
        "styles/scss/utils/_mixins.scss",
        "styles/scss/base/_fonts.scss",
        "styles/scss/base/_apply-normalize.scss",
        "styles/scss/base/_base.scss",
        "styles/scss/base/_typography.scss",
        "styles/scss/base/_form-elements.scss",
        "styles/scss/layout/_layout-general.scss",
        "styles/scss/layout/_navigation.scss",
        "styles/scss/layout/_header.scss",
        "styles/scss/layout/_main-content.scss",
        "styles/scss/layout/_sidebar.scss",
        "styles/scss/layout/_footer.scss",
        "styles/scss/layout/_print.scss",
        "styles/scss/components/_overlays-ie-warnings.scss",
        "styles/scss/components/_overlays-skiplinks.scss",
        "styles/scss/components/_overlays-cookie-info-banner.scss",
        "styles/scss/vendor/_normalize.scss",
        "styles/scss/vendor/_support-for.scss",
        "styles/scss/vendor/normalize/_variables.scss",
        "styles/scss/vendor/normalize/_vertical-rhythm.scss",
        "styles/scss/vendor/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "styles/scss/base/_apply-normalize.scss",
      "imports": [
        "styles/scss/vendor/_normalize.scss",
        "styles/scss/vendor/_support-for.scss",
        "styles/scss/vendor/normalize/_variables.scss",
        "styles/scss/vendor/normalize/_vertical-rhythm.scss",
        "styles/scss/vendor/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "styles/scss/vendor/_normalize.scss",
      "imports": [
        "styles/scss/vendor/_support-for.scss",
        "styles/scss/vendor/normalize/_variables.scss",
        "styles/scss/vendor/normalize/_vertical-rhythm.scss",
        "styles/scss/vendor/normalize/_normalize-mixin.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "/var/www/virtual/earlgrey/dev.michaelvanlaar.com/wtsp-dev",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "shaula.uberspace.de",
      "port": 22,
      "usePrivateKey": false,
      "username": "earlgrey",
      "password": "Mu$1kub3rsp@ce",
      "privateKey": "",
      "passphrase": "Mu$1kuberspace"
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      ".*"
    ],
    "history": [
      {
        "file": "android-chrome-192x192.png",
        "ctime": "2016-07-31T19:45:10.809Z",
        "mtime": "2016-07-31T19:45:10.809Z",
        "size": 5766
      },
      {
        "file": "android-chrome-512x512.png",
        "ctime": "2017-01-08T20:41:55.950Z",
        "mtime": "2016-07-31T19:45:10.810Z",
        "size": 15743
      },
      {
        "file": "apple-touch-icon.png",
        "ctime": "2016-07-31T19:45:10.812Z",
        "mtime": "2016-07-31T19:45:10.812Z",
        "size": 3237
      },
      {
        "file": "browserconfig.xml",
        "ctime": "2016-07-31T19:45:10.813Z",
        "mtime": "2016-07-31T19:45:10.813Z",
        "size": 231
      },
      {
        "file": "favicon-16x16.png",
        "ctime": "2016-07-31T19:45:10.814Z",
        "mtime": "2016-07-31T19:45:10.814Z",
        "size": 662
      },
      {
        "file": "favicon-32x32.png",
        "ctime": "2016-07-31T19:45:10.815Z",
        "mtime": "2016-07-31T19:45:10.815Z",
        "size": 1015
      },
      {
        "file": "favicon.ico",
        "ctime": "2016-11-10T22:25:15.542Z",
        "mtime": "2016-07-31T19:45:10.817Z",
        "size": 7406
      },
      {
        "file": "ie-warning/ie-logo-70x70.png",
        "ctime": "2016-03-12T13:56:09.601Z",
        "mtime": "2016-03-12T13:56:09.601Z",
        "size": 3275
      },
      {
        "file": "ie-warning/ie-warning-background.png",
        "ctime": "2016-03-12T13:56:09.599Z",
        "mtime": "2016-03-12T13:56:09.599Z",
        "size": 375
      },
      {
        "file": "ie-warning/old-ie-warning-de.html",
        "ctime": "2017-01-22T23:29:22.385Z",
        "mtime": "2017-01-22T23:29:22.385Z",
        "size": 2904
      },
      {
        "file": "ie-warning/old-ie-warning-en.html",
        "ctime": "2017-01-22T23:29:06.087Z",
        "mtime": "2017-01-22T23:29:06.087Z",
        "size": 2845
      },
      {
        "file": "images/1120x600.png",
        "ctime": "2016-03-10T23:48:48.265Z",
        "mtime": "2016-03-10T23:48:48.265Z",
        "size": 5178
      },
      {
        "file": "images/1680x900.png",
        "ctime": "2016-03-10T23:48:48.268Z",
        "mtime": "2016-03-10T23:48:48.268Z",
        "size": 10030
      },
      {
        "file": "images/288x154.png",
        "ctime": "2016-03-10T23:48:48.270Z",
        "mtime": "2016-03-10T23:48:48.270Z",
        "size": 1108
      },
      {
        "file": "images/560x300.png",
        "ctime": "2016-03-10T23:48:48.273Z",
        "mtime": "2016-03-10T23:48:48.273Z",
        "size": 2465
      },
      {
        "file": "images/576x308.png",
        "ctime": "2016-03-10T23:48:48.276Z",
        "mtime": "2016-03-10T23:48:48.276Z",
        "size": 2864
      },
      {
        "file": "images/840x450.png",
        "ctime": "2016-03-10T23:48:48.279Z",
        "mtime": "2016-03-10T23:48:48.279Z",
        "size": 4009
      },
      {
        "file": "images/icons.svg",
        "ctime": "2017-01-08T20:38:22.119Z",
        "mtime": "2017-01-08T20:38:22.119Z",
        "size": 20895
      },
      {
        "file": "images/wtsp-logo.svg",
        "ctime": "2017-01-07T21:05:29.938Z",
        "mtime": "2017-01-07T21:05:29.938Z",
        "size": 19275
      },
      {
        "file": "index.html",
        "ctime": "2017-01-22T23:37:55.325Z",
        "mtime": "2017-01-22T23:37:55.325Z",
        "size": 16748
      },
      {
        "file": "js/main.js",
        "ctime": "2017-02-05T21:25:00.660Z",
        "mtime": "2017-02-05T21:25:00.660Z",
        "size": 7620
      },
      {
        "file": "js/main.min.js",
        "ctime": "2017-02-05T21:25:00.892Z",
        "mtime": "2017-02-05T21:25:00.892Z",
        "size": 3406
      },
      {
        "file": "js/main.min.js.map",
        "ctime": "2017-02-05T21:25:00.901Z",
        "mtime": "2017-02-05T21:25:00.901Z",
        "size": 2574
      },
      {
        "file": "js/plugins.js",
        "ctime": "2017-02-05T21:25:24.574Z",
        "mtime": "2017-02-05T21:25:24.574Z",
        "size": 46124
      },
      {
        "file": "js/plugins.min.js",
        "ctime": "2017-02-05T21:25:25.058Z",
        "mtime": "2017-02-05T21:25:25.058Z",
        "size": 10835
      },
      {
        "file": "js/plugins.min.js.map",
        "ctime": "2017-02-05T21:25:25.063Z",
        "mtime": "2017-02-05T21:25:25.063Z",
        "size": 13778
      },
      {
        "file": "js/vendor/jquery-3.1.1.min.js",
        "ctime": "2017-01-24T23:55:59.785Z",
        "mtime": "2017-01-18T23:36:26.062Z",
        "size": 86709
      },
      {
        "file": "js/vendor/lazysizes-plus-plugins.min.js",
        "ctime": "2015-08-24T19:27:30.931Z",
        "mtime": "2015-08-24T19:27:30.931Z",
        "size": 6297
      },
      {
        "file": "js/vendor/respimage.min.js",
        "ctime": "2015-08-24T19:27:30.954Z",
        "mtime": "2015-08-24T19:27:30.954Z",
        "size": 8806
      },
      {
        "file": "LICENSE.txt",
        "ctime": "2016-11-04T21:07:49.586Z",
        "mtime": "2016-11-01T15:55:05.846Z",
        "size": 11357
      },
      {
        "file": "manifest.json",
        "ctime": "2016-07-31T19:45:10.825Z",
        "mtime": "2016-07-31T19:45:10.825Z",
        "size": 301
      },
      {
        "file": "mstile-144x144.png",
        "ctime": "2016-07-31T19:45:10.826Z",
        "mtime": "2016-07-31T19:45:10.826Z",
        "size": 2646
      },
      {
        "file": "mstile-150x150.png",
        "ctime": "2016-07-31T19:45:10.827Z",
        "mtime": "2016-07-31T19:45:10.827Z",
        "size": 2767
      },
      {
        "file": "mstile-310x150.png",
        "ctime": "2016-07-31T19:45:10.828Z",
        "mtime": "2016-07-31T19:45:10.828Z",
        "size": 3120
      },
      {
        "file": "mstile-310x310.png",
        "ctime": "2016-07-31T19:45:10.829Z",
        "mtime": "2016-07-31T19:45:10.829Z",
        "size": 5771
      },
      {
        "file": "mstile-70x70.png",
        "ctime": "2016-07-31T19:45:10.831Z",
        "mtime": "2016-07-31T19:45:10.831Z",
        "size": 2131
      },
      {
        "file": "README.md",
        "ctime": "2017-01-30T22:56:53.681Z",
        "mtime": "2017-01-30T22:56:53.681Z",
        "size": 3127
      },
      {
        "file": "robots.txt",
        "ctime": "2016-03-10T23:48:48.365Z",
        "mtime": "2016-03-10T23:48:48.365Z",
        "size": 46
      },
      {
        "file": "safari-pinned-tab.svg",
        "ctime": "2016-07-31T19:19:51.482Z",
        "mtime": "2016-07-31T19:19:51.482Z",
        "size": 2095
      },
      {
        "file": "styles/css/main.css",
        "ctime": "2017-02-18T09:37:01.647Z",
        "mtime": "2017-02-18T09:37:01.647Z",
        "size": 18182
      },
      {
        "file": "styles/css/main.css.map",
        "ctime": "2017-02-18T09:37:01.629Z",
        "mtime": "2017-02-18T09:37:01.629Z",
        "size": 10462
      },
      {
        "file": "styles/sassdoc/index.html",
        "ctime": "2017-01-30T22:35:20.843Z",
        "mtime": "2017-01-30T22:27:46.657Z",
        "size": 121454
      },
      {
        "file": "styles/scss/main.scss",
        "ctime": "2016-11-01T15:55:57.734Z",
        "mtime": "2016-11-01T15:55:57.734Z",
        "size": 1671
      },
      {
        "file": "styles/scss/base/_apply-normalize.scss",
        "ctime": "2017-01-08T17:51:03.017Z",
        "mtime": "2017-01-08T17:51:03.017Z",
        "size": 251
      },
      {
        "file": "styles/scss/base/_base.scss",
        "ctime": "2017-02-18T09:34:19.308Z",
        "mtime": "2017-02-18T09:34:19.308Z",
        "size": 1345
      },
      {
        "file": "styles/scss/base/_fonts.scss",
        "ctime": "2017-01-08T17:51:17.621Z",
        "mtime": "2017-01-08T17:51:17.621Z",
        "size": 228
      },
      {
        "file": "styles/scss/base/_form-elements.scss",
        "ctime": "2017-01-08T17:51:22.572Z",
        "mtime": "2017-01-08T17:51:22.572Z",
        "size": 2665
      },
      {
        "file": "styles/scss/base/_typography.scss",
        "ctime": "2017-02-05T16:39:11.664Z",
        "mtime": "2017-02-05T16:39:11.664Z",
        "size": 2571
      },
      {
        "file": "styles/scss/components/_overlays-cookie-info-banner.scss",
        "ctime": "2017-01-08T17:51:52.197Z",
        "mtime": "2017-01-08T17:51:52.197Z",
        "size": 737
      },
      {
        "file": "styles/scss/components/_overlays-ie-warnings.scss",
        "ctime": "2017-01-08T17:51:57.108Z",
        "mtime": "2017-01-08T17:51:57.108Z",
        "size": 724
      },
      {
        "file": "styles/scss/components/_overlays-skiplinks.scss",
        "ctime": "2017-01-08T17:52:00.658Z",
        "mtime": "2017-01-08T17:52:00.658Z",
        "size": 252
      },
      {
        "file": "styles/scss/layout/_footer.scss",
        "ctime": "2017-01-08T17:52:06.064Z",
        "mtime": "2017-01-08T17:52:06.064Z",
        "size": 567
      },
      {
        "file": "styles/scss/layout/_header.scss",
        "ctime": "2017-01-20T00:33:50.269Z",
        "mtime": "2017-01-20T00:33:50.269Z",
        "size": 1459
      },
      {
        "file": "styles/scss/layout/_layout-general.scss",
        "ctime": "2017-02-18T09:37:01.212Z",
        "mtime": "2017-02-18T09:37:01.212Z",
        "size": 1980
      },
      {
        "file": "styles/scss/layout/_main-content.scss",
        "ctime": "2017-01-08T22:08:25.748Z",
        "mtime": "2017-01-08T22:08:25.748Z",
        "size": 650
      },
      {
        "file": "styles/scss/layout/_navigation.scss",
        "ctime": "2017-02-08T22:38:40.633Z",
        "mtime": "2017-02-08T22:38:40.633Z",
        "size": 30081
      },
      {
        "file": "styles/scss/layout/_print.scss",
        "ctime": "2017-01-08T17:52:48.486Z",
        "mtime": "2017-01-08T17:52:48.486Z",
        "size": 1198
      },
      {
        "file": "styles/scss/layout/_sidebar.scss",
        "ctime": "2017-01-08T17:52:54.868Z",
        "mtime": "2017-01-08T17:52:54.868Z",
        "size": 779
      },
      {
        "file": "styles/scss/utils/_functions.scss",
        "ctime": "2017-01-08T17:53:03.350Z",
        "mtime": "2017-01-08T17:53:03.350Z",
        "size": 2409
      },
      {
        "file": "styles/scss/utils/_mixins.scss",
        "ctime": "2017-01-16T21:52:54.494Z",
        "mtime": "2017-01-16T21:52:54.494Z",
        "size": 4346
      },
      {
        "file": "styles/scss/utils/_variables-colors.scss",
        "ctime": "2017-01-16T21:34:29.746Z",
        "mtime": "2017-01-16T21:34:29.746Z",
        "size": 2628
      },
      {
        "file": "styles/scss/utils/_variables-general.scss",
        "ctime": "2017-02-05T16:36:51.002Z",
        "mtime": "2017-02-05T16:36:51.002Z",
        "size": 3311
      },
      {
        "file": "styles/scss/utils/_variables-vl-color-scheme.scss",
        "ctime": "2017-01-08T17:53:25.494Z",
        "mtime": "2017-01-08T17:53:25.494Z",
        "size": 5077
      },
      {
        "file": "styles/scss/vendor/_normalize.scss",
        "ctime": "2016-03-10T23:48:48.426Z",
        "mtime": "2016-03-10T23:48:48.426Z",
        "size": 132
      },
      {
        "file": "styles/scss/vendor/_support-for.scss",
        "ctime": "2016-03-10T23:48:48.427Z",
        "mtime": "2016-03-10T23:48:48.427Z",
        "size": 2331
      },
      {
        "file": "styles/sassdoc/assets/css/main.css",
        "ctime": "2017-01-30T22:27:46.657Z",
        "mtime": "2017-01-30T22:27:46.657Z",
        "size": 11032
      },
      {
        "file": "styles/sassdoc/assets/images/favicon.png",
        "ctime": "2017-01-30T22:27:46.654Z",
        "mtime": "2017-01-30T22:27:46.654Z",
        "size": 17676
      },
      {
        "file": "styles/sassdoc/assets/images/logo_full_compact.svg",
        "ctime": "2017-01-30T22:27:46.655Z",
        "mtime": "2017-01-30T22:27:46.655Z",
        "size": 7511
      },
      {
        "file": "styles/sassdoc/assets/images/logo_full_inline.svg",
        "ctime": "2017-01-30T22:27:46.655Z",
        "mtime": "2017-01-30T22:27:46.655Z",
        "size": 7545
      },
      {
        "file": "styles/sassdoc/assets/images/logo_light_compact.svg",
        "ctime": "2017-01-30T22:27:46.657Z",
        "mtime": "2017-01-30T22:27:46.657Z",
        "size": 7378
      },
      {
        "file": "styles/sassdoc/assets/images/logo_light_inline.svg",
        "ctime": "2017-01-30T22:27:46.658Z",
        "mtime": "2017-01-30T22:27:46.658Z",
        "size": 7370
      },
      {
        "file": "styles/sassdoc/assets/js/main.js",
        "ctime": "2017-01-30T22:27:46.655Z",
        "mtime": "2017-01-30T22:27:46.655Z",
        "size": 1197
      },
      {
        "file": "styles/sassdoc/assets/js/main.min.js",
        "ctime": "2017-01-30T22:27:46.656Z",
        "mtime": "2017-01-30T22:27:46.656Z",
        "size": 16877
      },
      {
        "file": "styles/sassdoc/assets/js/search.js",
        "ctime": "2017-01-30T22:27:46.658Z",
        "mtime": "2017-01-30T22:27:46.658Z",
        "size": 3600
      },
      {
        "file": "styles/sassdoc/assets/js/sidebar.js",
        "ctime": "2017-01-30T22:27:46.658Z",
        "mtime": "2017-01-30T22:27:46.658Z",
        "size": 3595
      },
      {
        "file": "styles/scss/vendor/normalize/_import-now.scss",
        "ctime": "2016-03-10T23:48:48.428Z",
        "mtime": "2016-03-10T23:48:48.428Z",
        "size": 268
      },
      {
        "file": "styles/scss/vendor/normalize/_normalize-mixin.scss",
        "ctime": "2016-03-10T23:48:48.429Z",
        "mtime": "2016-03-10T23:48:48.429Z",
        "size": 16658
      },
      {
        "file": "styles/scss/vendor/normalize/_variables.scss",
        "ctime": "2016-03-10T23:48:48.461Z",
        "mtime": "2016-03-10T23:48:48.461Z",
        "size": 1355
      },
      {
        "file": "styles/scss/vendor/normalize/_vertical-rhythm.scss",
        "ctime": "2016-03-10T23:48:48.462Z",
        "mtime": "2016-03-10T23:48:48.462Z",
        "size": 2449
      },
      {
        "file": "styles/sassdoc/assets/js/vendor/fuse.min.js",
        "ctime": "2017-01-30T22:27:46.685Z",
        "mtime": "2017-01-30T22:27:46.685Z",
        "size": 4123
      },
      {
        "file": "styles/sassdoc/assets/js/vendor/jquery.min.js",
        "ctime": "2017-01-30T22:27:46.715Z",
        "mtime": "2017-01-30T22:27:46.715Z",
        "size": 84245
      },
      {
        "file": "styles/sassdoc/assets/js/vendor/prism.min.js",
        "ctime": "2017-01-30T22:27:46.694Z",
        "mtime": "2017-01-30T22:27:46.694Z",
        "size": 8135
      },
      {
        "file": "WTSP.sublime-project",
        "ctime": "2016-03-10T23:48:48.181Z",
        "mtime": "2016-03-10T23:48:48.181Z",
        "size": 53
      },
      {
        "file": "WTSP.sublime-workspace",
        "ctime": "2017-02-11T23:13:30.049Z",
        "mtime": "2017-02-11T23:13:30.049Z",
        "size": 21745
      }
    ]
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false},\"compiler-minify-css\":{\"enabled\":true},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":true,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions, ie >= 10"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[]},\"outputSuffix\":\".min\",\"autoCompile\":false}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\".min\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":false,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}