//==============================================================================
// Page footer
//==============================================================================





.page-footer {
    @include mvl-clearfix;

    background: $mvl-color__default-text;

    &__box {
        @include mvl-clearfix;

        font-size: mvl-px-to-rem(13px);
        margin-right: mvl-px-to-rem($mvl-gutter-width);
        margin-left: mvl-px-to-rem($mvl-gutter-width);
        color: $mvl-color__white;

        @media print {
            display: none;
        }
    }
}
