// -----------------------------------------------------------------------------
// Page header
// -----------------------------------------------------------------------------





.page-header {
    @include mvl-clearfix;

    background-color: $mvl-color-brand-1-darkest;


    &__box {
        @include mvl-clearfix;

        margin-right: mvl-px-to-rem($mvl-gutter-width);
        margin-left: mvl-px-to-rem($mvl-gutter-width);
        text-align: center;
    }


        &__logo-container {
            position: relative;
            width: mvl-px-to-rem(505px);
            max-width: 100%;
            margin: mvl-px-to-rem($mvl-base-line-height) auto;

            &::before {
                display: block;
                padding-top: 19.8019801980198%;  // represents aspect ratio of the logo
                content: '';
            }
        }

            &__logo {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                fill: $mvl-color-white;
            }
}
