// -----------------------------------------------------------------------------
// Print styles
// -----------------------------------------------------------------------------





.print-only {
    @media screen {
        display: none;
        visibility: hidden;
    }
}


.print-links-footer {
    padding: 0 1.25rem;
    border: 1pt solid $mvl-color-black;
    page-break-inside: avoid;

    h3 {
        font-size: 1.25rem;
        line-height: 1.2;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}


@media print {


    *,
    *::before,
    *::after {
        color: $mvl-color-black !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }


    @page {
        margin: 2cm;
    }





    // -------------------------------------------------------------------------
    // Typography
    // -------------------------------------------------------------------------


    pre,
    blockquote,
    tr,
    img {
        page-break-inside: avoid;
    }


    abbr[title]::after {
        content: ' (' attr(title) ')';
    }


    thead {
        display: table-header-group;
    }


}
