//==============================================================================
// General variables
//==============================================================================





/// Define browser support, used to configure normalize.scss
/// @access public
/// @type Map
$support-for: (
    '*': -4,
    ie:  10,
);





//------------------------------------------------------------------------------
// Layout and media queries
//------------------------------------------------------------------------------


/// Width (in px) of one column of the 12-column layout grid
/// @access public
/// @group Layout
/// @type Number
$mvl-column-width: 50px;

/// Width (in px) of the gutter between columns of the 12-column layout grid
/// @access public
/// @group Layout
/// @type Number
$mvl-gutter-width: 25px;


/// Named breakpoints for media queries
/// @access public
/// @group Layout
/// @type Map
$mvl-breakpoints: (
    'main-content-width': (min-width: (($mvl-column-width * 8) + ($mvl-gutter-width * 9))),
    'full-width': (min-width: (($mvl-column-width * 12) + ($mvl-gutter-width * 14))),
    'full-width-scale-1': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (1/8)))), // base font size: 17px
    'full-width-scale-2': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (2/8)))), // base font size: 18px
    'full-width-scale-3': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (3/8)))), // base font size: 19px
    'full-width-scale-4': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (4/8)))), // base font size: 20px
    'full-width-scale-5': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (5/8)))), // base font size: 21px
    'full-width-scale-6': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (6/8)))), // base font size: 22px
    'full-width-scale-7': (min-width: floor(($mvl-column-width * 12) + ($mvl-gutter-width * 14) + ((1900 - ($mvl-column-width * 12) + ($mvl-gutter-width * 14)) * (7/8)))), // base font size: 23px
    'full-width-scale-8': (min-width: 1900px), // base font size: 24px
);





//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------


/// Regular font family
/// @access public
/// @group Typography
/// @type list
$mvl-font-stack--text: 'Arial', 'Helvetica', sans-serif;

/// Code (monospace) font family
/// @access public
/// @group Typography
/// @type list
$mvl-font-stack--code: 'Lucida Console', 'Courier New', 'Courier', monospace;


/// Font size (in px) for basic copy text on screen
/// @access public
/// @group Typography
/// @type number
$mvl-base-font-size--screen: 16px;

/// Font size (in pt) for basic copy text on printouts
/// @access public
/// @group Typography
/// @type number
$mvl-base-font-size--print: 12pt;


/// Line height (in px) for basic copy text
/// @access public
/// @group Typography
/// @type number
$mvl-base-line-height: 25px;


/// Indent (in px) for basic lists and blockquotes
/// @access public
/// @group typography
/// @type number
$mvl-base-indent: 35px;





//------------------------------------------------------------------------------
// Transitions
//------------------------------------------------------------------------------


/// Default transition duration
/// @access public
/// @group Typography
/// @type number
$mvl-default-transition__duration: 0.2s;


/// Default transition timing function
/// @access public
/// @group Typography
/// @type number
$mvl-default-transition__timing-function: ease-out;


/// Default transition (all properties)
/// @access public
/// @group Typography
/// @type number
$mvl-default-transition: all $mvl-default-transition__duration $mvl-default-transition__timing-function;
