//==============================================================================
// General variables
//==============================================================================





/// Define browser support, used to configure normalize.scss
/// @access public
/// @type Map
$support-for: (
    '*': -4,
    ie:  10,
);





//------------------------------------------------------------------------------
// Layout and media queries
//------------------------------------------------------------------------------


/// Named breakpoints for media queries
/// @access public
/// @group Layout
/// @type Map
$mvl-breakpoints: (
    'main-content-width': (min-width: 625px),
    'full-width': (min-width: 975px),
    'full-width-scale-1': (min-width: 1090px), // base font size: 17px
    'full-width-scale-2': (min-width: 1206px), // base font size: 18px
    'full-width-scale-3': (min-width: 1322px), // base font size: 19px
    'full-width-scale-4': (min-width: 1438px), // base font size: 20px
    'full-width-scale-5': (min-width: 1553px), // base font size: 21px
    'full-width-scale-6': (min-width: 1669px), // base font size: 22px
    'full-width-scale-7': (min-width: 1784px), // base font size: 23px
    'full-width-scale-8': (min-width: 1900px), // base font size: 24px
);


/// Width (in px) of one column of the 12-column layout grid
/// @access public
/// @group Layout
/// @type Number
$mvl-column-width: 50px;

/// Width (in px) of the gutter between columns of the 12-column layout grid
/// @access public
/// @group Layout
/// @type Number
$mvl-gutter-width: 25px;





//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------


/// Font size (in px) for basic copy text on screen
/// @access public
/// @group Typography
/// @type number
$mvl-base-font-size--screen: 16px;

/// Font size (in pt) for basic copy text on printouts
/// @access public
/// @group Typography
/// @type number
$mvl-base-font-size--print: 12pt;


/// Line height (in px) for basic copy text
/// @access public
/// @group Typography
/// @type number
$mvl-base-line-height: 25px;


/// Regular font family
/// @access public
/// @group Typography
/// @type list
$mvl-font-stack--text: 'Arial', 'Helvetica', sans-serif;

/// Code (monospace) font family
/// @access public
/// @group Typography
/// @type list
$mvl-font-stack--code: 'Lucida Console', 'Courier New', 'Courier', monospace;





//------------------------------------------------------------------------------
// Transitions
//------------------------------------------------------------------------------


/// Default transition duration
/// @access public
/// @group Typography
/// @type number
$mvl-default-transition__duration: 0.2s;


/// Default transition timing function
/// @access public
/// @group Typography
/// @type number
$mvl-default-transition__timing-function: ease-out;


/// Default transition (all properties)
/// @access public
/// @group Typography
/// @type number
$mvl-default-transition: all $mvl-default-transition__duration $mvl-default-transition__timing-function;
