// -----------------------------------------------------------------------------
// Project colors
// -----------------------------------------------------------------------------





// -----------------------------------------------------------------------------
// General colors
// -----------------------------------------------------------------------------


/// HEX: #fff
/// @access public
/// @group colors
/// @type Color
$mvl-color-white: rgb(255, 255, 255);

/// HEX: #000
/// @access public
/// @group colors
/// @type Color
$mvl-color-black: rgb(0, 0, 0);

/// HEX: #333
/// @access public
/// @group colors
/// @type Color
$mvl-color-text-default: rgb(51, 51, 51);
