// -----------------------------------------------------------------------------
// Project colors
// -----------------------------------------------------------------------------





// -----------------------------------------------------------------------------
// General colors
// -----------------------------------------------------------------------------


/// HEX: #fff
/// @access public
/// @group colors
/// @type Color
$mvl-color-white: rgb(255, 255, 255) !default;

/// HEX: #000
/// @access public
/// @group colors
/// @type Color
$mvl-color-black: rgb(0, 0, 0) !default;

/// HEX: #333
/// @access public
/// @group colors
/// @type Color
$mvl-color-text-default: rgb(51, 51, 51) !default;

/// HEX: #ffaaaa
/// @access public
/// @group colors
/// @type Color
$mvl-color-validation-error: rgb(255, 170, 170) !default;

/// Half transparent black for drop shadows
/// @access public
/// @group colors
/// @type Color
$mvl-color-drop-shadow: rgba(0, 0, 0, 0.5) !default;





// -----------------------------------------------------------------------------
// Brand colors
// -----------------------------------------------------------------------------


/// Main brand color
/// @access public
/// @group colors
/// @type Color
$mvl-color-brand-1: $mvl-vl-blue-3 !default;

/// Main brand color, lighter
/// @access public
/// @group colors
/// @type Color
$mvl-color-brand-1-lighter: $mvl-vl-blue-4 !default;

/// Main brand color, darker
/// @access public
/// @group colors
/// @type Color
$mvl-color-brand-1-darker: $mvl-vl-blue-2 !default;


/// Secondary brand color
/// @access public
/// @group colors
/// @type Color
$mvl-color-brand-2: $mvl-vl-gray-3 !default;

/// Secondary brand color, lighter
/// @access public
/// @group colors
/// @type Color
$mvl-color-brand-2-lighter: $mvl-vl-gray-4 !default;

/// Secondary brand color, darker
/// @access public
/// @group colors
/// @type Color
$mvl-color-brand-2-darker: $mvl-vl-gray-2 !default;
