// -----------------------------------------------------------------------------
// Overlays: Cookie info banner
// -----------------------------------------------------------------------------





.cookie-info-banner {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $mvl-color-brand-2-lighter;
    width: 100%;

    &__box {
        margin-right: 10px;
        margin-left: 10px;
    }

        &__message {
            font-size: 13px;
            line-height: 21px;
            margin-top: 6px;
            margin-bottom: 6px;
            padding-right: 25px;
        }

        &__close-button {
            line-height: 1;
        }
}
