//==============================================================================
// Overlays: IE warnings
//==============================================================================

.ie-warning__shader {
  background: #000;
  bottom: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ie-warning__message {
  border: 5px solid #ed7f00;
  display: block;
  height: 430px;
  left: 50%;
  margin-left: -410px;
  margin-top: -220px;
  position: fixed;
  top: 50%;
  width: 810px;
  z-index: 1001;
}
