//==============================================================================
// Overlays: Cookie info banner
//==============================================================================

.cookie-info-banner {
  background-color: $mvl-color__brand-2--lighter;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;

  &__box {
    margin-left: mvl-px-to-rem($mvl-gutter-width);
    margin-right: mvl-px-to-rem($mvl-gutter-width);
  }

  &__message {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 6px;
    margin-top: 6px;
    padding-right: 25px;

    @include mvl-respond-to("full-width") {
      text-align: center;
    }
  }

  &__close-button {
    line-height: 1;
  }
}
