//==============================================================================
// Main navigation:
// Visual styling for mobile screen sizes
//==============================================================================

//------------------------------------------------------------------------------
// General
//------------------------------------------------------------------------------

.main-navigation__toggle {
  padding-left: size(inner-gutter-width, rem);
  padding-right: size(outer-gutter-width, rem);
  width: (
    size(navigation-toggle-width, rem) + size(inner-gutter-width, rem) +
      size(outer-gutter-width, rem)
  );
}

.main-navigation__toggle-icon {
  fill: color(white);
  height: size(header-height, rem);
  width: 100%;

  &:hover,
  &:focus {
    fill: color(brand-1, lightest);
  }
}

.no-js .main-navigation:hover .main-navigation__toggle-icon,
.js .main-navigation__toggle.show-submenu .main-navigation__toggle-icon {
  fill: color(brand-1, lightest);
}

.main-navigation__list-container {
  background-color: color(brand-1, lightest);
  padding-bottom: size(base-margin, rem);
  padding-left: size(outer-gutter-width, rem);
  padding-right: size(outer-gutter-width, rem);
}

.main-navigation__list li {
  padding-top: size(base-margin, rem);
}

.main-navigation__list > li {
  padding-top: (size(base-margin, rem) * 1.5);
}

//------------------------------------------------------------------------------
// With JavaScript
//------------------------------------------------------------------------------

.js {
  // Add “►” after dropdown toggle elements with hidden submenus
  .main-navigation__list > .has-children > a:after {
    content: "►";
    font-size: (map-get($scaling-factors, smaller) * 1em);
    margin-left: 0.5em;
  }

  // Add “▼” after dropdown toggle elements with visible submenus
  .main-navigation__list > .has-children.show-submenu > a:after {
    content: "▼";
  }
}
