//==============================================================================
// Page footer
//==============================================================================

.page-footer {
  @include clearfix;

  background: color(default-text);
}

.page-footer__box {
  @include clearfix;

  color: color(white);
  font-size: (size(base-font-size, rem) * map-get($scaling-factors, smaller));
  margin-left: size(outer-gutter-width, rem);
  margin-right: size(outer-gutter-width, rem);

  @media print {
    display: none;
  }
}
