//==============================================================================
// Page footer
//==============================================================================

.page-footer {
  @include mvl-clearfix;

  background: $mvl-color__default-text;

  &__box {
    @include mvl-clearfix;
    color: $mvl-color__white;

    font-size: mvl-px-to-rem(13px);
    margin-left: mvl-px-to-rem($mvl-gutter-width);
    margin-right: mvl-px-to-rem($mvl-gutter-width);

    @media print {
      display: none;
    }
  }
}
