//==============================================================================
// Main content area
//==============================================================================

.page-main-content {
  @include clearfix;

  clear: both;
  margin-left: size(outer-gutter-width, rem);
  margin-right: size(outer-gutter-width, rem);
  padding-bottom: size(base-line-height, rem);
  padding-top: size(base-line-height, rem);

  @include respond-to(full-width) {
    margin-right: 0;
    width: (
      (size(column-width, rem) * map-get($max-columns, main-content)) +
        (
          size(inner-gutter-width, rem) *
            (map-get($max-columns, main-content) - 1)
        )
    );
  }

  @media print {
    padding: 0;
  }
}

.image--fullwidth {
  width: 100%;
}
