//==============================================================================
// Base styles
//==============================================================================

html {
  box-sizing: border-box;
  font-size: $mvl-base-font-size--screen;
  height: 100%;
  line-height: ($mvl-base-line-height / $mvl-base-font-size--screen);
  overflow-y: scroll;

  @media print {
    font-size: $mvl-base-font-size--print;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit; // Allow components to change to other box-sizing models if necessary
}

html,
button,
input,
select,
textarea {
  color: $mvl-color__default-text;
}

body {
  background-color: $mvl-color__white;
  display: flex;
  flex-direction: column;
  font-family: $mvl-font-stack--text;
  min-height: 100%;
}

// Hack for IE10 and IE11, required due to a flexbox bug
/* stylelint-disable selector-type-no-unknown */
_:-ms-lang(x),
body {
  display: block;
}
/* stylelint-enable */

// Change the selection background color to fit with the used color scheme
::selection {
  background: $mvl-color__brand-1--lighter;
  color: $mvl-color__white;
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid $mvl-color__brand-2--lighter;
  display: block;
  height: 1px;
  margin: mvl-px-to-rem($mvl-base-line-height) 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

embed,
img,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}
