/*☺
[Project name]
*/


/* =============================================================================
   TABLE OF CONTENTS
   =============================================================================

   1    COLOR SCHEME

   2    WEBFONTS
   
   3    ALERTS AND OVERLAYS
   3.1  Internet Explorer JavaScript warning
   3.2  Skiplinks

   4    PRIMARY STYLES
   4.1  Base
   4.2  Links
   4.3  Typography, lists, headlines
   4.4  Embedded content
   4.5  Form elements
   4.6  Main navigation
   4.7  Layout elements

   5    NON-SEMANTIC HELPER CLASSES
   5.1  Hiding content
   5.2  Alignments
   5.3  Clearfix
   5.4  Misc little helpers
   5.5  Remove telephone number styling inserted by the Skype browser plug-in

   6    MEDIA QUERIES  =>  Important:
                           Break points should always be adjusted to the final
                           layout, not to screen sizes of certain devices.
   6.1  (570px and above)
   6.2  (980px and above)
   6.3  (1200px and above) Widescreen displays

   7    PRINT STYLES
   7.1  Hide print specific content from screen
   7.2  Print specific styles

*/




/* =============================================================================
   1    COLOR SCHEME
   ========================================================================== */

/*
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
color (element): #xxxxxx
*/




/* =============================================================================
   2    WEBFONTS
   ========================================================================== */

/* place webfont definitions here */




/* =============================================================================
   3    ALERTS AND OVERLAYS
   ========================================================================== */


/* =============================================================================
   3.1  Internet Explorer warnings
   ========================================================================== */

.warning-shader {
	background: #000;
	bottom: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.lt-ie7 .warning-shader {
	height: 10000px;
	position: absolute;
}

.ie-warning {
	border: 5px solid #ed7f00;
	display: block;
	height: 430px;
	left: 50%;
	margin-left: -410px;
	margin-top: -220px;
	position: fixed;
	top: 50%;
	width: 810px;
	z-index: 1001;
}

.lt-ie7 .ie-warning {
	position: absolute;
}


/* =============================================================================
   3.2  Skiplinks
   ========================================================================== */

#skiplinks a {
	left: -99999px;
	position: absolute;
	top: -99999px;
}

#skiplinks a:focus,
#skiplinks a:active {
	left: 0;
	position: static;
	top: 0;
}

#skiplinks {
	left: -99999px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

#skiplinks a:focus,
#skiplinks a:active {
	background: #333;
	border-bottom: 1px #000 solid;
	color: #fff;
	left: 99999px;
	outline: 0 none;
	padding: 10px 0;
	position: absolute;
	text-decoration: none;
	text-align: center;
	width: 100%;
}




/* =============================================================================
   4    PRIMARY STYLES
   ========================================================================== */

/* These styles are for small screen devices, held in portrait mode. (320px)
   They will be altered to suit different screen resolutions (see below). */


/* =============================================================================
   4.1  Base
   ========================================================================== */

html {
	overflow-y: scroll;
}

html,
button,
input,
select,
textarea {
	color: #333;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5384615384615384615384615384615; /* 20px / 13px */
}

/* Change the selection background color to fit with the used color scheme */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   4.2  Links
   ========================================================================== */

a {
	color: #0a4baa;
	text-decoration: none;
}

a:visited {
	color: #05327d;
}

a:hover {
	color: #507dbe;
}


/* =============================================================================
   4.3  Typography, lists, headlines
   ========================================================================== */

p, ul, ol {
	margin-bottom: 1.5384615384615384615384615384615em; /* 20px / 13px */
	margin-top: 1.5384615384615384615384615384615em; /* 20px / 13px */
}

ul,
ol {
	padding: 0 0 0 2.1538461538461538461538461538462em; /* 28px / 13px */
}

ul li *, ol li * {
	margin-bottom: 0;
	margin-top: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
	margin-top: 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

dd {
	margin: 0 0 0 2.1538461538461538461538461538462em; /* 28px / 13px */
}

blockquote {
	margin: 1.5384615384615384615384615384615em 2.1538461538461538461538461538462em; /* 20px / 13px   and   28px / 13px */
	font-style: italic;
}

blockquote p {
	font-style: italic;
}

cite {
	font-style: normal;
}

pre, code, code var {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
}

abbr {
	cursor: help;
}

del {
	text-decoration: line-through;
}

h1 {
	font-size: 1.6923076923076923076923076923077em; /* 22px / 13px */
	line-height: 0.90909090909090909090909090909091; /* 20px / 22px */
	margin: 0.90909090909090909090909090909091em; /* 20px / 22px */
}

h2 {
	font-size: 1.5384615384615384615384615384615em; /* 20px / 13px */
	line-height: 1;
	margin-bottom: 1em;
	margin-top: 1em;
}

h3 {
	font-size: 1.3076923076923076923076923076923em; /* 17px / 13px */
	line-height: 1.1764705882352941176470588235294; /* 20px / 17px */
	margin-bottom: 1.1764705882352941176470588235294em; /* 20px / 17px */
	margin-top: 1.1764705882352941176470588235294em; /* 20px / 17px */
}

h4 {
	font-size: 1.1538461538461538461538461538462em; /* 15px / 13px */
	line-height: 1.3333333333333333333333333333333; /* 20px / 15px */
	margin-bottom: 1.3333333333333333333333333333333em; /* 20px / 15px */
	margin-top: 1.3333333333333333333333333333333em; /* 20px / 15px */
}

td { vertical-align: top; }

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}




/* =============================================================================
   4.4  Embedded content
   ========================================================================== */

img, embed, object, video {
	max-width: 100%;
}

img {
	height: auto;
}


/* =============================================================================
   4.5  Form elements
   ========================================================================== */

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea,
select {
	border: 1px solid #00e;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea {
	padding: 0.23076923076923076923076923076923em; /* 3px / 13px */
}

select {
	padding: 0.15384615384615384615384615384615em; /* 2px / 13px */
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	border: 1px solid #00e;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.23076923076923076923076923076923em 0.69230769230769230769230769230769em; /* 3px / 13px   and   9px / 13px */
	-webkit-border-radius: 0.38461538461538461538461538461538em; /* 5px / 13px */
	-moz-border-radius: 0.38461538461538461538461538461538em; /* 5px / 13px */
	border-radius: 0.38461538461538461538461538461538em; /* 5px / 13px */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	background-color: #00e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#77e), to(#00e)); 
	background-image: -webkit-linear-gradient(top, #77e, #00e); 
	background-image: -moz-linear-gradient(top, #77e, #00e); 
	background-image: -ms-linear-gradient(top, #77e, #00e); 
	background-image: -o-linear-gradient(top, #77e, #00e); 
	background-image: linear-gradient(top, #77e, #00e);
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	-webkit-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	-moz-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	outline: 0;
}

input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:focus {
	border-color: #fff;
}

input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
button:active {
	border-color: #fff;
	-webkit-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	-moz-box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	box-shadow: 1px 1px 2px #3c3cee, -1px 1px 2px #3c3cee, -1px -1px 2px #3c3cee, 1px -1px 2px #3c3cee;
	background-color: #77e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00e), to(#77e)); 
	background-image: -webkit-linear-gradient(top, #00e, #77e); 
	background-image: -moz-linear-gradient(top, #00e, #77e); 
	background-image: -ms-linear-gradient(top, #00e, #77e); 
	background-image: -o-linear-gradient(top, #00e, #77e); 
	background-image: linear-gradient(top, #00e, #77e);
}

::-webkit-input-placeholder,
:-moz-placeholder,
.placeholder {
	color: #aaa;
}

textarea {
	resize: vertical;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   4.6  Main navigation
   ========================================================================== */

#main-navigation {
	background: #8cbe0a;
	margin: 0;
	padding-bottom: 0 !important;
	padding-left: 1.5384615384615384615384615384615em; /* 20px / 13px */
	padding-right: 1.5384615384615384615384615384615em; /* 20px / 13px */
}

.js #main-navigation-list {
	display: none;
	visibility: hidden;
}

.js .selectnav {
	display: block;
	font-size: 1.1538461538461538461538461538462em; /* 15px / 13px */
	margin: 0.66666666666666666666666666666667em 0; /* 10px / 15px */
	visibility: visible;
	width: 100%;
}


/* =============================================================================
   4.7  Layout elements
   ========================================================================== */

.wrapper {
	margin: 0 auto;	
	max-width: 570px;
	position: relative;
	width: 100%;
}
   
#page-header-container {
	background: #ffd2aa;
}

#page-header {
	padding-bottom: 0 !important;
}

#main {
	background: #fff5aa;
	clear: both;
	padding: 0 1.5384615384615384615384615384615em; /* 20px / 13px */
}

#sidebar {
	background: #dcdcdc;
	padding: 0 1.5384615384615384615384615384615em; /* 20px / 13px */
}

#page-footer-container {
	background: #91afd7;
}

#page-footer {
	padding: 0 1.5384615384615384615384615384615em; /* 20px / 13px */
}




/* =============================================================================
   5    NON-SEMANTIC HELPER CLASSES
   ========================================================================== */


/* =============================================================================
   5.1  Hiding content
   ========================================================================== */

/* For image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; height: 150%; width: 0; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }


/* =============================================================================
   5.2  Alignments
   ========================================================================== */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.float-left { float: left; margin: 0 20px 20px 0; }
.float-right { float: right; margin: 0 0 20px 20px; }


/* =============================================================================
   5.3  Clearfix
   ========================================================================== */

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* =============================================================================
   5.4  Misc little helpers
   ========================================================================== */

/* typically used with a <span> element */
.nobr { white-space: nowrap; }


/* =============================================================================
   5.5  Remove telephone number styling inserted by the Skype browser plug-in
   ========================================================================== */

.js body span.skype_pnh_container {
	display: none !important;
	visibility: hidden !important;
}

.js body span[class^="skype_pnh_print_container"] {
	display: inline !important;
}




/* =============================================================================
   6    MEDIA QUERIES
   ========================================================================== */


/* =============================================================================
   6.1  (570px and above)
   ========================================================================== */

@media only screen and (min-width: 570px) {

	/* ==== Main navigation ================================================= */

	.js .selectnav {
		display: none;
		visibility: hidden;
	}

	.js #main-navigation-list {
		display: block;
		visibility: visible;
	}

	/* 1st level (horizontal) and overall menu styles */
	#main-navigation-list {
		position: relative;
	}
	#main-navigation-list li {
		display: inline;
		float: left;
		font-size: 1.1538461538461538461538461538462em; /* 15px / 13px */
		line-height: 1.3333333333333333333333333333333; /* 20px / 15px */
		position: relative;
	}
	#main-navigation-list .parent,
	#main-navigation-list .current {
		background: #b4dc5a;
	}
	#main-navigation-list li a {
		color: #fff5aa;
		display:inline-block;
		padding: 0.66666666666666666666666666666667em; /* 10px / 15px */
		-webkit-transition: color 0.2s linear, background 0.2s linear;
		-moz-transition: color 0.2s linear, background 0.2s linear;
		-o-transition: color 0.2s linear, background 0.2s linear;
		transition: color 0.2s linear, background 0.2s linear;
	}
	#main-navigation-list li a:visited {
		color: #fff5aa;
	}
	#main-navigation-list li a:hover,
	.no-js #main-navigation-list li:hover > a,
	.js #main-navigation-list li.active > a {
		background: #dcf0a0;
		color: #507dbe;
	}
	.js #main-navigation-list .has_children > a {
		cursor: pointer;
	}
	#main-navigation-list > .has_children > a:after {
		content: "▼";
		font-size: 80%;
		margin-left: 0.33333333333333333333333333333333em; /* 5px / 15px */
	}

	/* 2nd level (dropdown) */
	.no-js #main-navigation-list li:hover > ul,
	.js #main-navigation-list li.active > ul {
		/* nice fade effect */
			opacity: 1;
		/* display submenus on hover */
			height: auto;
			margin: 0;
			overflow: visible;
			width: 12em; /* adjust this to the desired submenu width   |   180px / 15px */
	}
	#main-navigation-list ul {
		/* nice fade effect */
			opacity: 0;
			-webkit-transition: opacity 0.2s linear;
			-moz-transition: opacity 0.2s linear;
			-o-transition: opacity 0.2s linear;
			transition: opacity 0.2s linear;
		/* hide submenus only visually, but still make them available for screenreaders */
			border: 0;
			height: 1px;
			margin: -1px;
			overflow: hidden;
			width: 1px;
		/* visual styling */
			background: #8cbe0a;
			position: absolute;
			z-index: 9999;
			-webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
			box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
	}
	#main-navigation-list ul li {
		clear: both;
		width: 100%;
		font-size: 1em;
	}
	#main-navigation-list ul li a {
		padding-right: 1.3333333333333333333333333333333em; /* 20px / 15px */
		width: 10em; /* submenu width minus left and right padding */
	}
	#main-navigation-list ul > .has_children > a:after {
		content: "►";
		font-size: 80%;
		position: absolute;
		top: 1em; /* 15px / 15px */
		right: 0.33333333333333333333333333333333em; /* 5px / 15px */
	}

	/* 3rd level (flyout) */
	#main-navigation-list ul ul {
		top: 0;
		left: 12em; /* must fit the dropdown menu width */
	}

	/* hide deeper levels */
	#main-navigation-list ul ul ul {
		display: none;
		visibility: hidden;
	}

}


/* =============================================================================
   6.2  (980px and above)
   ========================================================================== */

@media only screen and (min-width: 980px) {

	.wrapper {
		max-width: 73.846153846153846153846153846154em; /* 960px / 13px */
		width: 73.846153846153846153846153846154em; /* 960px / 13px */
	}
	
	#main {
		display: inline;
		float: left;
		width: 40.769230769230769230769230769231em; /* 530px / 13px */
	}
	
	#sidebar {
		display: inline;
		float: right;	
		width: 22.307692307692307692307692307692em; /* 290px / 13px */
	}

}


/* =============================================================================
   6.3  (1200px and above) Widescreen displays
   ========================================================================== */

@media only screen and (min-width: 1200px) {

	body { font-size: 16px;	}

}




/* =============================================================================
   7    PRINT STYLES
   ========================================================================== */


/* =============================================================================
   7.1  Hide print specific content from screen
   ========================================================================== */

@media screen {

	.print-only { display: none; visibility: hidden; }

}


/* =============================================================================
   7.2  Print specific styles
   ========================================================================== */
   
@media print {

	/* ==== 7.2.1  Base ===================================================== */

	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	@page { margin: 2cm; }
	body { font-size: 12pt; }

	/* ==== 7.2.2  Links ==================================================== */

	a, a:visited { text-decoration: underline; }

	.print-links-footer {
		border: 0.5pt solid #000;
		padding: 0 1.5384615384615384615384615384615em;
		page-break-inside: avoid;
	}

	/* ==== 7.2.3  Typography, lists, headlines ============================= */

	abbr[title]:after { content: " (" attr(title) ")"; }
	p, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; }
	h2, h3, h4, h5, h6 { page-break-after: avoid; }
	h1 { margin-left: 0; margin-right: 0; }
	

	.print-links-footer h3 { /* equals normal h4 style */
		font-size: 1.1538461538461538461538461538462em;
		line-height: 1.3333333333333333333333333333333;
		margin-bottom: 1.3333333333333333333333333333333em;
		margin-top: 1.3333333333333333333333333333333em;
	}

	/* ==== 7.2.4  Tables =================================================== */

	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }

	/* ==== 7.2.5  Layout elements ========================================== */

	#main-navigation, #sidebar { display: none; }
	#main, #page-footer { padding: 0; }

}
